.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-left: 10%;
}

h2,
h3 {
    color: var(--md-primary);
    font-weight: 500;
    font-size: 32px;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profile-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.username {
    font-size: 1.2rem;
    color: var(--md-on-background);
    font-weight: 500;
}

/* Friend List */
.friend-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friend {
    background-color: var(--md-surface);
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    height: 100px;
}

.friend:hover {
    background-color: var(--md-primary);
}

.friend-link {
    text-decoration: none;
    color: inherit;
    display: block;
    /* インライン要素をブロック要素にして幅を親要素に合わせる */
    width: 100%;
    align-items: center;
}

.friend-info {
    display: flex;
}

.friend-name {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--md-on-surface);
    padding-top: 10px;
    width: 80px;
}

.latest-message {
    font-size: 0.9rem;
    color: var(--md-on-surface);
}

.no-message {
    font-size: 0.9rem;
    color: var(--md-secondary);
}

.message-time {
    font-size: 0.8rem;
    color: var(--md-on-surface);
    margin-top: 5px;
}

/* Logout Button */
.logout {
    margin-top: 30px;
    text-align: center;
    display: flex;
    gap: 10px;
}



.md-button.md-filled {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 500;
    width: 140px;
}

.md-button.md-filled:hover {
    transform: translateY(-2px);
}

.md-button.md-outlined {
    background-color: transparent;
    color: var(--md-primary);
    border: 2px solid var(--md-primary);
    width: 140px;
}

.md-button.md-outlined:hover {
    background-color: rgba(98, 0, 234, 0.1);
    transform: translateY(-2px);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination a,
.pagination .current-page {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .current-page {
    background-color: #6200ea;
    color: #fff;
}