/* 全体スタイル */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* フォーム全体 */
form {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* ラベル */
label {
    display: block;
    font-size: 14px;
    color: #5f6368;
    margin-bottom: 4px;
}

/* 入力フィールド */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6200ee;
    outline: none;
}

/* エラーメッセージ */
.error {
    color: #d32f2f;
    font-size: 14px;
    margin-bottom: 8px;
}

/* ボタン */
button {
    background-color: #6200ee;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #3700b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* indexへのリンク */
.return-link {
    display: block;
    margin-top: 16px;
    text-align: center;
    color: var(--md-primary);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.return-link:hover {
    color: #3700b3;
}