body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--md-background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.4rem;
    color: var(--md-secondary);
    text-align: center;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}