{% extends 'chatapp_app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>ようこそ, {{ logged_in_user.username }}さん!</h2>
    <div class="profile-section">
        <img src="{{ logged_in_user.user_icon.url }}" class="profile-img" class="profile-img">
    </div>

    <h3>チャット可能なおともだち</h3>
    <ul class="friend-list">
        {% for item in latest_messages %}
        <li class="friend">
            <a href="{% url 'talk_room' item.user.id %}" class="friend-link">
                <div class="friend-info">
                    <span class="friend-name">{{ item.user.username }}</span>
                    <img src="{{ item.user.user_icon.url }}" class="profile-img">
                    {% if item.message %}
                        <div>
                        <p>最新のメッセージ</p>
                        <span class="latest-message">{{ item.message }}</span> <!-- 最新メッセージを表示 -->
                        <span class="message-time">{{ item.time|date:"H:i" }}</span>
                        </div>
                    {% else %}
                        <span class="no-message">メッセージはありません</span> <!-- メッセージがない場合 -->
                    {% endif %}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="logout">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="md-button md-filled">ログアウト</button>
        </form>
    </div>
</div>

{% endblock %}
