{% extends 'chatapp_app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>ようこそ, {{ logged_in_user.username }}さん!</h2>
    <div class="profile-section">
        <img src="{{ logged_in_user.user_icon.url }}" class="profile-img" class="profile-img">
        <div class="logout">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="md-button md-filled" >ログアウト</button>
            </form>
            <a href="{% url 'settings' %}"><button class="md-button md-outlined">設定</button></a>
        </div>
    </div>

    <h3>チャット可能なおともだち</h3>
    <ul class="friend-list">
        {% for item in latest_messages %}
        <a href="{% url 'talk_room' item.user.id %}" class="friend-link">
        <li class="friend">
            
                <div class="friend-info">
                    <span class="friend-name">{{ item.user.username }}</span>
                    <img src="{{ item.user.user_icon.url }}" class="profile-img">
                    {% if item.message %}
                        <div>
                        <p>最新のメッセージ</p>
                        <span class="latest-message">{{ item.message }}</span> <!-- 最新メッセージを表示 -->
                        <span class="message-time">{{ item.time}}</span>
                        </div>
                    {% else %}
                        <span class="no-message">メッセージはありません</span> <!-- メッセージがない場合 -->
                    {% endif %}
                </div>
            
        </li>
    </a>
        {% endfor %}
    </ul>
</div>
<div class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 最初</a>
            <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% endif %}

        <span class="current-page">
            {{ page_obj.number }} / {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">次へ</a>
            <a href="?page={{ paginator.num_pages }}">最後 &raquo;</a>
        {% endif %}
    {% endif %}
</div>


{% endblock %}
