{% extends 'chatapp_app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<h2>ログイン</h2>

<form method="post">
    {% csrf_token %}

    {% if request.session.otp_phase %}
    <label>6桁の確認コードを入力してください:</label>
    <input type="text" name="otp" maxlength="6" required>
  {% else %}
    
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}

    {% endif %}
    
    <button type="submit">ログイン</button>
</form>

{% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<!-- トップページへのリンク -->
<a href="{% url 'index' %}" class="return-link">戻る</a>

{% endblock %}
