{% extends 'chatapp_app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'chatapp_app/css/login.css' %}">
{% endblock %}

{% block content %}
<h2>パスワード変更</h2>

<form method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    
    <button type="submit">変更</button>
</form>

<!-- トップページへのリンク -->
<a href="{% url 'settings' %}" class="return-link">戻る</a>

{% endblock %}