{% extends 'chatapp_app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'chatapp_app/css/signup.css' %}">
{% endblock %}
{% block content %}

<h2>会員登録</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <!-- {{form.as_p}}だけでも十分機能します。それぞれのフォームを細かく書きたいときはfor文を使ってそれぞれのフォームを記述することができます-->
    <button type="submit">会員登録する</button>
</form>

<a href="{% url 'index' %}" class="return-link">戻る</a>

{% endblock %}
