{% extends 'chatapp_app/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/talk_room.css' %}">
{% endblock %}
{% block content %}

<h2 class="chat-title">
    <a href="{% url 'home' %}" class="back-button"><</a>
    {{ other_user.username }}</h2>

    <div class="chat-box" id="chat-box">
        {% for message in messages %}
            <div class="message {% if message.sender == request.user %}my-message{% else %}other-message{% endif %}">
                <img src="{{ message.sender.user_icon.url }}" class="profile-img">
                <div class="message-content">
                    {{ message.chat }}
                    <span class="timestamp">{{ message.created_at }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- divのクラス名が自分が送ったメッセージが相手が送ったメッセージかで場合分けされていることに注意してください。このような書き方もできます。-->
    

<form method="post" class="message-form">
    {% csrf_token %}
    <div class="input-wrapper">
        <input type="text" name="message" placeholder="メッセージを入力" required>
        <!-- name="message"と書いてあることがViewで重要になっています。フォームのattributeである
        type,name,placeholder,requiredは必須なのでよく覚えるようにしましょう-->
        <button type="submit">
            <span class="send-button">送信</span>
        </button>
    </div>
</form>

<!-- 発展 常に最新のメッセージが見れるようにスクロールバーを下にあわせておきます。-->

<script>
    window.onload = function() {
        var chatBox = document.querySelector('.chat-box');
        chatBox.scrollTop = chatBox.scrollHeight;
    };

    // 新しいメッセージが追加されるたびに最下層にスクロール
    var chatBox = document.querySelector('.chat-box');
    var observer = new MutationObserver(function() {
        chatBox.scrollTop = chatBox.scrollHeight;
    });
    observer.observe(chatBox, { childList: true });
</script>

{% endblock %}
