asgiref==3.8.1
boto3==1.37.29
botocore==1.37.29
decouple==0.0.7
Django==5.1.7
django-debug-toolbar==5.0.1
django-environ==0.12.0
django-storages==1.14.6
flake8==7.1.2
gunicorn==23.0.0
isort==6.0.1
jmespath==1.0.1
mccabe==0.7.0
packaging==24.2
pillow==11.1.0
pycodestyle==2.12.1
pyflakes==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
whitenoise==6.9.0
